<div class="card bg-w-gory my-5">
  <div class="card-body">
    <h2>Tworzenie nowej trasy punktowanej</h2>
    <form (ngSubmit)="addTrasaPunkt()" #trasaPunktowanaForm="ngForm">
      <table class="table-w-gory" width="1000px">
        <tr>
          <th>
            <label>Obszar miejsc</label>
            <select name="obszar" (change)="callObszar($event.target.value)" class="form-control minimal">
              <option *ngFor="let o of obszary" [ngValue]="o.nazwa">{{o.nazwa}}</option>
            </select>
          </th>
        </tr>

        <tr>
          <th>
            <label>Teren miejsca początkowego</label>
            <select name="teren" (change)="callTerenP($event.target.value)" class="form-control minimal">
              <option *ngFor="let tp of tereny" [ngValue]="tp.nazwa">{{tp.nazwa}}</option>
            </select>
          </th>
          <th>
            <label>Nazwa miejsca początkowego</label>
            <select name="miejsce_p" (change)="callMiejsceP($event.target.value)" class="form-control minimal"
              required="required">
              <option *ngIf="miejsca_p.length==0" value=""></option>
              <option *ngFor="let mp of miejsca_p" [ngValue]="mp.nazwa">{{mp.nazwa}}</option>
            </select>
            <p class="validation-error invalid-feedback" style="display:block;">
              <small *ngIf="!trasaPunktowana.poczatek">Uzupełnij!</small>
              <small *ngIf="trasaPunktowana.koniec == trasaPunktowana.poczatek && trasaPunktowana.poczatek">Miejsca tras
                muszą być różne!</small>
            </p>
          </th>
        </tr>

        <tr>
          <th>
            <label>Teren miejsca końcowego</label>
            <select name="teren" (change)="callTerenK($event.target.value)" class="form-control minimal">
              <option *ngFor="let tk of tereny" [ngValue]="tk.nazwa">{{tk.nazwa}}</option>
            </select>
          </th>
          <th>
            <label>Nazwa miejsca końcowego</label>
            <select name="miejsce_k" (change)="callMiejsceK($event.target.value)" class="form-control minimal" required>
              <option *ngIf="miejsca_k.length==0" value=""></option>
              <option *ngFor="let mk of miejsca_k" [ngValue]="mk.nazwa">{{mk.nazwa}}</option>
            </select>
            <p class="validation-error invalid-feedback" style="display:block;">
              <small *ngIf="!trasaPunktowana.koniec">Uzupełnij!</small>
              <small *ngIf="trasaPunktowana.koniec == trasaPunktowana.poczatek && trasaPunktowana.koniec">Miejsca tras
                muszą być różne!</small>
            </p>
          </th>
        </tr>

        <tr>
          <th>
            <label>Punkty do zdobycia</label>
            <input type="number" onkeydown="return ( event.ctrlKey || event.altKey 
            || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) 
            || (95<event.keyCode && event.keyCode<106)
            || (event.keyCode==8) || (event.keyCode==9) 
            || (event.keyCode>34 && event.keyCode<40) 
            || (event.keyCode==46) )" [(ngModel)]="trasaPunktowana.punkty" class="form-control" id="punkty"
              name="punkty" required="required">
            <p class="validation-error invalid-feedback"><small>Musisz wprowadzić punkty!</small></p>
          </th>
          <th>
            <button type="submit" class="btn btn-success" style="margin-right: 100px;">
              DODAJ
            </button>
            <button (click)="backClicked()" class="btn btn-secondary">
              ANULUJ
            </button>
          </th>
        </tr>
      </table>
    </form>
  </div>

</div>

<div *ngIf="isApproved" class="overlay" (click)="backClicked()">
  <div class="bg-w-gory"> <span>{{message}}</span></div>
</div>
