<div class="container" width="1680px">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-5 bg-w-gory" >
        <div class="card-body">
          <h1 style="text-align: center">W Góry - Realizacja przypadków użycia </h1>
        </div>
        <ul class="text-center list-inline py-3">
          <li class="list-inline-item"><a routerLink="/wycieczki" class="btn btn-primary">ZATWIERDZENIE ODBYCIA WYCIECZKI</a></li>
          <li class="list-inline-item"><a  class="btn btn-primary last">TWORZENIE NOWEJ TRASY PUNKTOWANEJ</a></li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>