<div class="container" width="1680px">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-5 bg-w-gory">
        <div class="card-body">
          <span class="user">{{name}} {{surname}}</span>
          <img src="assets/images/pttk_logo.png" />
          <h1>W Góry - Realizacja PU </h1>
        </div>
        <ul class="text-center list-inline py-3">
          <li class="list-inline-item"><a routerLink="/wycieczki" class="btn btn-primary">ZATWIERDZENIE ODBYCIA
              WYCIECZKI</a></li>
          <li class="list-inline-item"><a routerLink="/trasy-punktowane" class="btn btn-primary last">TWORZENIE NOWEJ
              TRASY PUNKTOWANEJ</a></li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
