.bg-w-gory{
    background-color: #82E180;
    opacity: 75%;
    border-color: #707070;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
}
.btn{
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    border-right: #17811E solid 2px;
    color: #17811E;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -30px;
    height: 40px;
    padding-right: 50px;
    padding-left: 50px;
}
.last{
    border: 0px;
}
div{
    margin: auto;
    width: 1680px;
    max-width: 1680px;
}
.container{
    max-width: 1680px;
}

h1{
    font-family: Berlin Sans FB;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-shadow: -4px 0 #C8AE71, 0 4px #C8AE71, 4px 0 #C8AE71, 0 -4px #C8AE71;
}